html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
}

#rect {
    width:250px;
    height:340px;
    background-color: #F0FAD0;
    border-radius: 5px;
    padding: 10px;
}

#quitBtn {
    position: absolute;
    top: 410px;
    left: 60px;
}

#sendMsgText {
    font-size: 14px;
    margin-bottom: 5px;
}
